# Virtual Environment
.venv/
env/
.env/
pyproject.toml
.python-version
# Compiled Python Files
*.pyc
__pycache__/

# Database Files
db.sqlite3

# Log Files
*.log

# Sensitive Configuration
local_settings.py

# IDE Specific Files
.idea/
.vscode/

# Operating System Specific Files
.DS_Store
Thumbs.db

# Test-related Files
.coverage
.tox/
.eggs/